[Desktop Entry]
Type=Application
Version=1.0
Name=Imager
Comment=Raspberry Pi Imager
Icon=umbrel-imager
Exec=umbrel-imager
Categories=Utility
StartupNotify=false
